@import "globals";

.spinner.eclipse {
	@include display-box($inner-size);
	border-radius: 50%;
	background: $color;
	margin: 12px;
	animation: eclipse-animate 1s ease-out infinite;

	&::before {
		@include draw-borders();
		border-right: $color-border;
		border-left: $clear-border;
	}

	&::after {
		@include draw-borders();
		border-right: $clear-border;
		border-left: $color-border;
	}
}

@keyframes eclipse-animate {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}
