$inner-size: 24px;
$outer-size: 60px;
$clear-border: solid 6px transparent;
$color-border: solid 6px #28A745;

$color: #28A745;
$secondColor: #28A745;

$speed2x: 2s;
$speed3x: 1s;
$speed4x: .5s;

@mixin display-box($size) {
	width: $size;
	height: $size;
	display: inline-block;
	box-sizing: border-box;
}

@mixin draw-borders() {
	border-radius: 50%;
	content: " ";
	@include display-box($outer-size);
	border-top: $clear-border;
	border-bottom: $clear-border;
	position: absolute;
	top: -18px;
	left: -18px;
}

@mixin border($width, $colorTop, $colorRight, $colorBottom, $colorLeft) {
	border-top: solid $width $colorTop;
	border-right: solid $width $colorRight;
	border-bottom: solid $width $colorBottom;
	border-left: solid $width $colorLeft;
}

.spinner{
	@include display-box($outer-size);
	position: relative;
}