@import "globals";

.spinner.meter{
	border-radius: 50%;
	@include border($outer-size / 8, $color, $color, $color, $color);
	@include display-box($outer-size);

	&::before{
		border-radius: $outer-size / 16;
		content: " ";
		@include display-box-wh($outer-size / 8, $outer-size / 4);
		background-color: $color;
		position: absolute;
		top: ceil($outer-size / 10);
		left: $outer-size / 3;
		transform-origin: center bottom;
		animation: meter-animate-before $speed3x linear infinite;
	}
}

@keyframes meter-animate-before{
	0% { transform: rotate(-45deg); }
	100% { transform: rotate(315deg); }
}
